<ng-container *ngIf="sys.deviceCast | async as device">
	<o2-top-side-nav [nav]="nav" *ngIf="device.core"></o2-top-side-nav>
</ng-container>

<ion-split-pane (ionChange)="ionChange($event)">
	<ion-menu side="left" [content]="content" id="leftSideMenu" type="overlay" [ngClass]="{'pwa-left-menu-width': (sys.deviceCast | async)?.core}">
		<o2-left-side-menu [nav]="nav"></o2-left-side-menu>
	</ion-menu>

	<ion-nav [root]="rootPage" [rootParams]="rootParams" #content swipeBackEnabled="false" main></ion-nav>

	<ion-menu side="right" [content]="content" id="rightSideMenu" type="overlay" class="rightSideMenu" *ngIf="(sys.deviceCast | async)?.core">
		<o2-right-side-menu></o2-right-side-menu>
	</ion-menu>
</ion-split-pane>