<ng-container *ngIf="sys.deviceCast | async as device">
	<ion-header *ngIf="!device.core">

		<ion-navbar>
			<ion-buttons left>
				<button ion-button icon-only (click)="toggleMenu()">
					<ion-icon name="menu"></ion-icon>
				</button>
			</ion-buttons>
			<ion-title>cards</ion-title>
		</ion-navbar>

	</ion-header>
</ng-container>



<ion-content>
	<ion-list>
		<button ion-item *ngFor="let item of temp" (click)="itemSelected(item)">
			card-Space{{this.navParams.get('spaceid')}}-{{ item.title }}
		</button>
	</ion-list>
	<o2-tab-bar *ngIf="!(sys.deviceCast | async)?.core"></o2-tab-bar>
</ion-content>