<ion-header>

	<ion-navbar hideBackButton="true">
		<ion-buttons left *ngIf="!(sys.deviceCast | async)?.core">
			<button ion-button icon-only (click)="route.pop('cards', this.navParams.get('spaceid'), navCtrl)">
				<ion-icon name="arrow-back"></ion-icon>
			</button>
		</ion-buttons>

		<ion-buttons left *ngIf="(sys.deviceCast | async)?.core">
			<button ion-button icon-only (click)="route.pop('cards', this.navParams.get('spaceid'), navCtrl)">
				<ion-icon name="close"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title>card</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>